:root {
    --color-principal: #eeeeee;
    --color-sec: #fff;
    --bg-color: #022e6b;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: sans-serif;
    text-transform: uppercase;
}

h1 {
    text-align: center;
    font-size: 3.8rem;
    color: #fff;
}

.titulo span {
    font-size: 2rem;
}

.container {
    max-width: 120rem;
    background-color: var(--bg-color);
    margin: 0 auto;
    padding: 1rem;
    border-radius: 10px;
    border-style: double;
    border-color: #fff;
    border-width: 10px;
}

@media (max-width: 480px) {
    .container {
        max-width: 40rem;
    }
}
a{
    text-decoration: none;
    color: var(--bg-color);
    font-size: 2rem;
    margin: 1rem;
}
ul {
    margin: 2rem auto;
    list-style: none;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
}

li a {
    padding: 2rem;
    text-decoration: none;
}

ul:hover {
    background-color: #ffea75;
    border-radius: 10px;
    font-weight: 700;
}

@media (max-width: 480px) {
    ul {
        margin: 2rem;
    }

    li a {
        padding: 5rem;
    }
}