:root {
    --color-principal: #eeeeee;
    -color-sec: #fff;
    --bg-color: #80CAFF;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: sans-serif;
}

.container {
    max-width: 120rem;
    margin: auto;
    background-color: var(--bg-color);
    padding: 1rem;
    border-radius: 10px;
}

@media (max-width: 480px) {
    .container {
        max-width: 40rem;
    }
}

h1 {
    text-transform: uppercase;
    text-align: center;
}

input[type=text],
select,
textarea {
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    background-color: #ffffff;
}

select{
    background-color: #8AE290;
}

#observationsSup:hover {
    background-color: #ffea75;
    font-weight: 700;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

.register {
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

header label {
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    float: left;
}

header input[type=text] {
    width: 100%;
    padding: 5px;
}

main {
    justify-content: center;
    display: flex;
    border-radius: 10px;
    padding: 10px;
}

main label {
    font-style: oblique;
}

select {
    text-align: center;
}

select:hover {
    cursor: pointer;
}

textarea {
    height: 150px;
    width: 90%;
    border-radius: 10px;
}

.col-25 {
    float: left;
    width: 60%;
    margin-top: 10px;
    margin-right: 10px;
}

.col-75 {
    float: left;
    width: 35%;
    margin-top: 6px;
}

.row {
    padding: 5px;
    margin-left: 1%;
    display: flex;
    justify-content: space-between;
}

select {
    text-transform: uppercase;
}

.box-section {
    background-color: #fff;
    padding: 1rem;
    margin: 2rem;
    border-radius: 10px;
}

.observations {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    margin: auto;
    width: 100%;
}

.oTec,
.oSup {
    width: 50%;
}

.oSup .col-25 {
    width: 100%;
}

.button {
    justify-content: center;
    display: flex;
    padding: 20px;
}

.button button {
    padding: 20px;
    width: 150px;
    text-decoration: none;
    background-color: #000;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
}

.button button:hover {
    padding: 25px;
    width: 160px;
    background-color: #000;
    color: #fff;
    font-size: 25PX;
    cursor: pointer;
}

footer {
    text-transform: uppercase;
    text-align: center;
    font-style: italic;
    text-decoration: underline;
    font-size: 16px;
    padding: 5px;
}

@media (max-width: 480px) {
    header {
        flex-direction: column;
    }

    header {
        width: 80%;
        margin: auto;
    }
}

@media (min-width: 481px) and (max-width: 615px) {
    header {
        flex-direction: column;
    }

    .col-25,
    .col-75,
    input[type=submit],
    .header {
        width: 100%;
        margin-top: 0;
    }
}